#header-content{
    color: white;
    background-color: #0c0404;
}
#header-content h1{
    margin: 0px;
    padding: 20px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
    background-color: #1a1a1a;
}
#content-container{
    margin-left: 600px;
    margin-right: 600px;
    color: white;
}
.picture-session h2{
    border: white;
    border-style: ridge;
    border-width: 10px;
}
.image-container img{
    border-style: solid;
    border-color: #bbbbbc;
    border-width: 20px;
}
#content-container p{
    text-align: justify;
}
#footer-container{
    color: white;
    background-color: #0c0404;
}
#copyright p{
    margin: 0px;
    padding: 20px;
    font-size: 20px;
}



